DB_SERVER=localhost
DB_PORT=1433
DB_DATABASE=TKB_HopLuc
DB_USER=tkb_app
DB_PASSWORD=MatKhauManh123!
DB_ENCRYPT=false
DB_TRUST_SERVER_CERT=true

PORT=5000
JWT_SECRET=doi-chuoi-bi-mat-nay-truoc-khi-deploy
JWT_EXPIRES_IN=8h